<div class="korperDiv">

    <div class="headerKorporation">
        <div class="green-line"></div>
        <h1>Korporation</h1>
        <div class="green-line"></div>
    </div>

    <div class="korporText">
        <span>
            Auf dieser Seite werden alle meine laufenden Korporation gezeigt
        </span>
    </div>

    <div class="allKorporation">

        <div class="korpo">
            <h1> TestName </h1>
            <span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt quis mollitia dicta, nesciunt nisi
                quo. Porro nihil eveniet consectetur ullam dolore quibusdam possimus, eligendi autem tempora fuga
                veritatis rerum amet?
            </span>
            <img src="assets/img/platzhalter.png">
        </div>

        <div class="korpo">
            <h1> TestName </h1>
            <span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt quis mollitia dicta, nesciunt nisi
                quo. Porro nihil eveniet consectetur ullam dolore quibusdam possimus, eligendi autem tempora fuga
                veritatis rerum amet?
            </span>
            <img src="assets/img/platzhalter.png">
        </div>

    </div>

    <div class="korporation-shadow">
        <img src="/assets/img/Green shadow 2 (1).png">
    </div>
    <div class="korporation-shadow1">
        <img src="/assets/img/Green shadow 2.png">
    </div>

</div>