<header>
    <div class="header-log-text">
        <a routerLink="/"><span class="header-logo-name">Die_Zandra_</span></a>
        <a routerLink="/"> <img class="header-logo" src="/assets/img/ZandraLogoLöweZ.png"></a>
    </div>
    <div class="header-menu">
        <a href="#aboutMe">Über mich</a>
        <a routerLink="/socialMedia">Social Media</a>
        <a routerLink="/music">Playlist</a>
        <a routerLink="/managerin">Managerin</a>
        <a routerLink="/contact">Kontakt</a>
    </div>

    <div class="headerMenuMobilDiv">
        <input type="checkbox" id="active">
        <label for="active" class="menu-btn"><span></span></label>
        <label for="active" class="close" #closeBtn></label>
        <div class="wrapper">
            <ul>
                <li><a (click)="closeMenu()" href="#aboutMe">Über mich</a></li>
                <li><a (click)="closeMenu()" routerLink="/socialMedia">Social Media</a></li>
                <li><a (click)="closeMenu()" routerLink="/music">Playlist</a></li>
                <li><a (click)="closeMenu()" routerLink="/managerin">Managerin</a></li>
                <li><a (click)="closeMenu()" routerLink="/contact">Kontakt</a></li>
            </ul>
        </div>
    </div>

</header>