<header>

    
    <div class="eventHeader d-none">
        <a routerLink="/event">
            <img src="assets/img/event.png" title="Neues Event">
        </a>
    </div>


    <div class="header-log-text">
        <a routerLink="/"><span class="header-logo-name">Die_Zandra_</span></a>
        <a routerLink="/"> <img class="header-logo" src="/assets/img/ZandraLogoLöweZ.png"></a>
    </div>

    <div class="headerMenuMobilDiv" title="Menü">
        <input type="checkbox" id="active">
        <label for="active" class="menu-btn">
            <span></span>
        </label>
        <label for="active" class="close" #closeBtn></label>
        <div class="wrapper">
            <ul>
                <li><a (click)="closeMenu()" routerLink="/">Home</a></li>
                <li><a (click)="closeMenu()" routerLink="/socialMedia">Social Media</a></li>
                <li><a (click)="closeMenu()" routerLink="/music">Playlist</a></li>
                <li><a (click)="closeMenu()" routerLink="/managerin">Managerin</a></li>
                <li><a (click)="closeMenu()" routerLink="/event">Events</a></li>
                <!-- <li><a (click)="closeMenu()" routerLink="/merchandise">Merchandise</a></li> -->
                <li><a (click)="closeMenu()" routerLink="/contact">Kontakt</a></li>
            </ul>
        </div>
    </div>

</header>