<footer>
    <div class="footer-logo-container">
        <a href="#"><img class="footer-logo" src="/assets/img/ZandraLogoLöweZ.png"></a>
    </div>
    <div class="footer-imprint">
        <a routerLink="/imprint"><span class="imprint">Impressum</span></a>
    </div>
    <div class="footer-social">
        <a href="https://www.instagram.com/xiv.s.chrlie.3/" target="_blank"><img src="/assets/img/instagram.png"></a>
        <a href="https://www.tiktok.com/@die_zandra_?_t=8bm6EsHSTZz&_r=1" target="_blank"><img src="/assets/img/tiktok.png"></a>
    </div>
</footer>