<div class="relative">
    <div class="aboutMe-container">

        <div class="aboutMe-Div">
            <div class="headline-aboutMe" data-aos="zoom-in-up">
                <div class="green-line-social"></div>
                <h1>Über mich</h1>
                <div class="green-line-social"></div>
            </div>
            <span data-aos="zoom-in-up" class="aboutMe-text">
                TEXT "ÜBER MICH" WIRD NOCH ERSTELLT!!!
                <br>
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora at ad voluptatem consectetur
                iste id accusantium iure dolore, facere ab cum nam, totam eius repellat ipsa distinctio? Dolorem,
                dignissimos sunt. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo vero nesciunt
                delectus
                provid officiis odio, at eligendi dolor quia. Mollitia aspernatur voluptatibus facilis, a facere vel
                recusandae perspiciatis nihil maxime? Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum,
                quam commodi est saepe nisi
                placeat magni fugiat consectetur repellendus alias expedita odio exercitationem aliquam! Corporis
                molestias
                deleniti assumenda similique quibusdam.
            </span>
        </div>


        <div class="mobile-img" data-aos="zoom-in-up">
            <img class="aboutMe-img opacity" src="/assets/img/ZandraLöwenBild-Leuchten.png">
            <img class="aboutMe-img" src="/assets/img/ZandraLöwenBild.png">
        </div>

    </div>

    <div class="aboutMe-shadow">
        <img src="/assets/img/Green shadow 2.png">
    </div>
</div>