.social-div {
  margin-bottom: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tiktok-embed {
  border-radius: 10px;
}

.headline-social {
  font-family: "Russo One", sans-serif;
  font-size: 45px;
  color: white;
  transition: all 125ms ease-in-out;
  margin: 0;
  animation: pulseH1 2s ease-in-out infinite;

  &:hover {
    text-shadow: 0 0 10px #24ff24, 0 0 20px #24ff24;
  }
}

@keyframes pulseH1 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.social-text {
  color: white;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Russo One", sans-serif;
}

.social-h1 {
  font-size: 40px;
  font-family: "Russo One", sans-serif;
  color: white;
  animation: shadowPulse 2s ease-in-out infinite;
}

@keyframes shadowPulse {
  0% {
    text-shadow: 0 0 10px #24ff24, 0 0 20px #24ff24;
  }
  50% {
    text-shadow: 0 0 20px #24ff24, 0 0 30px #24ff24;
  }
  100% {
    text-shadow: 0 0 10px #24ff24, 0 0 20px #24ff24;
  }
}

.social-tiktok {
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  span {
    color: white;
  }
}

.social-instagram {
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.tiktok-embed {
  margin: 0;
}

.social-shadow {
  position: absolute;
  right: 0;
  top: 0;
}

.social-shadow1 {
  position: absolute;
  left: 0;
  bottom: 0;
}

.tiktok-insta {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-window {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  img {
    border-radius: 10px;
    object-fit: contain;
    transition: all 125ms ease-in-out;

    &:hover {
      cursor: pointer;
      box-shadow: 0px 0px 10px 3px #24ff30;
    }
  }
}

.tiktok-container {
  transition: all 125ms ease-in-out;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 3px #24ff30;
  }
}

.headline-social-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 200px;
}

.green-line-social {
  height: 4px;
  width: 100px;
  background-color: #24ff24;

  &:first-child {
    margin-right: 20px;
  }

  &:last-child {
    margin-left: 20px;
  }
}

@media (max-width: 1270px) {
  .tiktok-insta {
    flex-direction: column;
  }

  .social-tiktok {
    margin-right: 0;
  }

  .social-instagram {
    margin-top: 50px;
    margin-left: 0;
  }
}

@media (max-width: 690px) {
  .social-text {
    margin-left: 20px;
    margin-right: 20px;
  }

  .headline-social {
    font-size: 30px;
  }

  .tiktok-embed {
    width: 90%;
  }

  .instagram-window {
    width: 90%;

    img {
      width: 100%;
      height: 370px;
    }
  }

  .tiktok-embed {
    width: auto !important;
  }
}

@media (max-width: 520px) {
  .social-window {
    img {
      width: 200px;
    }
  }

  .social-shadow1 {
    img {
      width: 250px;
    }
  }
}

@media (max-width: 460px) {
  .green-line-social {
    width: 30px;
  }
}

@media (max-width: 460px) {
  .green-line-social {
    width: 20px;
  }

  .headline-social {
    font-size: 25px;
  }
}
