<div class="social-div" id="social-media">

    <div class="headline-social-div" data-aos="zoom-in-up">
        <div class="green-line-social"></div>
        <h1 class="headline-social">
            Social Media
        </h1>
        <div class="green-line-social"></div>
    </div>

    <div class="tiktok-insta">

        <div class="social-tiktok">
            <h1 class="social-h1" data-aos="zoom-in-up">TikTok</h1>
            <span class="social-text" data-aos="zoom-in-up">
                Auf meinem TikTok-Account "die_zandra_" gibt es täglich neue Livestreams und Videos. 
                Seit dem 08.11.2022 bin ich aktiv auf TikTok.            </span>
            <div class="tiktok-container tiktok-embed">
                <blockquote data-aos="zoom-in-up" class="tiktok-embed" cite="https://www.tiktok.com/@die_zandra_"
                    data-unique-id="die_zandra_" data-embed-type="creator" style="max-width: 780px; min-width: 288px;">
                    <section> <a target="_blank"
                            href="https://www.tiktok.com/@die_zandra_?refer=creator_embed">@die_zandra_</a>
                    </section>
                </blockquote>
            </div>
        </div>

        <div class="social-instagram">
            <h1 class="social-h1" data-aos="zoom-in-up">Instagram</h1>
            <span class="social-text" data-aos="zoom-in-up">
                Auf meinem Instagram-Account besteht die Möglichkeit, mit mir in Kontakt zu treten. 
                Bitte habt Verständnis dafür, dass ich nicht jedem individuell antworten kann.
            </span>
            <div data-aos="zoom-in-up" class="instagram-window">
                <a target="_blank" href="https://www.instagram.com/die_zandra_/">
                    <img src="/assets/img/Zappel-instagram.png">
                </a>
            </div>
        </div>

        

    </div>

    <div class="social-shadow">
        <img src="/assets/img/Green shadow 2 (1).png">
    </div>
    <div class="social-shadow1">
        <img src="/assets/img/Green shadow 2.png">
    </div>

</div>