<div class="start-div" #startDiv>
    <div class="background-img">
        <div #divImgHeadline>
            <img class="start-img" #bgImg src="/assets/img/Zandra_Löwe.jpeg">
            <div class="headline">
                <h1 #headline>Die_Zandra_</h1>
                <button class="videoBtn" (click)="playVideo()">Klick mich</button>
            </div>
        </div>
        <div #bgVideoDiv class="video-container d-none">
            <video #bgVideo src="/assets/img/ZandraVideo.mp4" type="video/mp4"></video>
        </div>
    </div>
</div>