<div class="start-div" #startDiv>
    <div class="background-img">
        <div #divImgHeadline>
            <img class="start-img" #bgImg src="/assets/img/Zandra_Löwe.jpeg">
            <div class="headline">
                <h1 #headline>Die_Zandra_</h1>
                <button class="videoBtn" (click)="playVideo()">Klick mich</button>
            </div>
        </div>
        <div #bgVideoDiv class="video-container d-none">
            <video #bgVideo src="/assets/img/ZandraVideo.mp4" type="video/mp4"></video>
        </div>
    </div>
</div>

<div data-aos="zoom-in-up" class="scroll-down-container">
    <img src="assets/img/arrow-down.png">
</div>

<div class="relative" id="aboutMe">

    <div class="aboutMe-container">

        <div class="aboutMe-Div">
            
            <div class="headline-aboutMe" data-aos="zoom-in-up">
                <div class="green-line-social"></div>
                <h1>Über mich</h1>
                <div class="green-line-social"></div>
            </div>

            <span data-aos="zoom-in-up" class="aboutMe-text">
                Herzlich Willkommen auf meiner TikTok-Seite! Ich bin Sandra, aber in der TikTok-Welt kennt man mich als
                "Zandra". Ich bin nicht nur TikTok-Streamerin, sondern auch Agentur Managerin und lebe in dem schönen
                Bundesland Bayern. <br><br>
                Meine Reise auf TikTok begann am 8. November 2022, und seitdem hat sich hier viel verändert. TikTok ist
                für mich nicht nur ein Hobby, sondern eine echte Leidenschaft geworden. Ich liebe es, meine Kreativität
                und Energie mit euch zu teilen. <br><br>
                Wer mich auf TikTok stehts begleitet, ist mein Team "Rawr". Der Name erinnert an das Brüllen eines Löwen
                und steht für unsere Entschlossenheit, in der Welt der TikTok-Unterhaltung zu glänzen. Gemeinsam mit
                meinem Modi Team arbeiten wir hart daran, euch zu unterhalten und positive Vibes zu verbreiten. <br><br>
                Ein kleiner Fun Fact über mich: Ich zapple gerne herum, dank meines ADHS. Das hat mir den Spitznamen
                "Zappel" eingebracht, der mich auf TikTok begleitet. <br><br>
                Ich bin stets freundlich und glaube an die Kraft der Positivität. Mein Ziel ist es, euch zu inspirieren,
                zu unterhalten und euch zum Lächeln zu bringen. Ich freue mich darauf, diese aufregende Reise auf TikTok
                mit euch fortzusetzen und gemeinsam großartige Momente zu erleben. Lasst uns zusammen Spaß haben und die
                TikTok-Community rocken! <br>
                💚🦁#TeamRawr🦁💚
            </span>
        </div>


        <div class="mobile-img" data-aos="zoom-in-up">
            <img class="aboutMe-img opacity" src="/assets/img/ZandraLöwenBild-Leuchten.png">
            <img class="aboutMe-img" src="/assets/img/ZandraLöwenBild.png">
        </div>

    </div>

    <div class="aboutMe-shadow">
        <img src="/assets/img/Green shadow 2.png">
    </div>
</div>