<div class="contact-div" id="contact">
    <div>
        <div class="h1-div-contact" data-aos="zoom-in-up">
            <div class="green-line-social"></div>
            <h1 class="contact-h1">Kontackt</h1>
            <div class="green-line-social mobile-line"></div>
        </div>

        <form (submit)="sendMail()" method="POST" ngNativeValidate #myForm>
            <div class="input-textarea">
                <input id="name" required type="text" placeholder="Vor- und Nachname" #nameField data-aos="zoom-in-up">
                <input id="mail" required type="email" placeholder="E-Mail" #emailField data-aos="zoom-in-up">
                <textarea id="message" required cols="30" rows="10" placeholder="Nachricht" #messageField
                    data-aos="zoom-in-up"></textarea>
            </div>
            <div class="btn-loader" data-aos="zoom-in-up">
                <button class="contact-Btn" id="sendBtn" #sendButton>
                    Abschicken
                </button>
                <div id="loader" class="loaderDNone">
                    <div class="loader">
                        <div class="line line1"></div>
                        <div class="line line2"></div>
                        <div class="line line3"></div>
                        <div class="line line4"></div>
                        <div class="line line5"></div>
                    </div>
                </div>
                <div class="sendEmail loaderDNone" id="sendEmail">E-Mail wurde versendet.</div>
            </div>
        </form>
        <div class="contact-shadow">
            <img src="/assets/img/Green shadow Foto.png">
        </div>

        <div class="contact-shadow1">
            <img src="/assets/img/Green shadow 2 (1).png">
        </div>
    </div>
    <div class="img-contact" data-aos="zoom-in-up">
        <img src="/assets/img/contact-Zandra.png">
        <div class="img-contact-line"></div>
    </div>
</div>