<!-- Login-Bereich, der nur angezeigt wird, wenn der Benutzer nicht eingeloggt ist -->
<div class="login-container" *ngIf="!isLoggedIn">
    <h2>Admin Login</h2>
    <div>
        <label for="username">Benutzername:</label>
        <input type="text" id="username" [(ngModel)]="username">
    </div>
    <div>
        <label for="password">Passwort:</label>
        <input type="password" id="password" [(ngModel)]="password">
    </div>
    <button (click)="login()">Anmelden</button>
</div>


<div class="eventSettings" *ngIf="isLoggedIn">


    <div class="addEvent">

        <h1>Event Erstellen</h1>

        <div>
            <span>Event Titel</span> <input type="text">
            <span>Event Datum</span> <input type="date">
            <span>Event Uhrzeit</span> <input type="time">
            <span>Event Gegner</span> <input type="text">
            <span>Event URL</span> <input type="url">
            <span>Event Bild</span> <input type="file">
        </div>

        <button type="submit">Erstellen</button>

    </div>


    <div class="allEvent">

    </div>



</div>




<button class="button-green" (click)="logout()">Abmelden</button>