.container {
    padding: 2vh 15vh 2vh 15vh;
    background-color: rgb(0, 30, 10);
    color: white;
    font-size: calc(18px + 0.390625vw);
    text-align: center;
    line-height: 125%;

    a {
        text-decoration: none;
        color: white;
    }

    @media(max-width: 1000px) {
        font-size: calc(16px + 0.390625vw);
        padding-left: 8px;
        padding-right: 8px;
    }
}

.h1-impressum {
    margin-top: 150px;
    font-size: 30px;
}

.h1-contact {
    font-size: 28px;
    margin-top: 75px;
}

.line-height {
    line-height: 125%;
}

.dataProtection {
    padding: 10vh 13vh 10vh 11vh;
    background-color: rgb(0, 30, 10);
    color: white;
    font-size: calc(18px + 0.390625vw);
    text-align: center;

    @media(max-width: 760px) {
        padding: 10vh 2vh 10vh 2vh;
    }
}