<div class="container" id="imprint">
    <h1 class="h1-impressum">Impressum</h1>

    <p>Fabian Flegler<br/>
        Eduard-Schneider-Davids str. 11<br/>
        57080 Siegen</p>

    <h1 class="h1-contact">Kontackt</h1>
    <p>
        <a href="tel: +49 170 4337496 ">Tel: +49 170 4337496</a><br />
        <a href="mailto: die_zandra@gmx.de">E-Mail: die_zandra@gmx.de</a>
    </p>
</div>
<div class="dataProtection">
    <div class="line-height">
        <strong>Datenschutzerklärung: </strong><br><br><strong>Haftung für Inhalte</strong><br><br>
        Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und
        Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7
        Abs.1
        TMG
        für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind
        wir
        als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu
        überwachen
        oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur
        Entfernung
        oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine
        diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung
        möglich.
        Bei
        Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend
        entfernen.
    </div>

    <div class="line-height">
        <br><br><strong>Haftung für Links</strong><br><br>
        Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Inhalte können wir jedoch keine Gewähr
        übernehmen
        richtig, vollständig oder aktuell. Als Diensteanbieter sind wir für eigene Inhalte auf diesen Seiten
        verantwortlich
        gemäß § 7 Abs. 1 Telemediengesetz (TMG). Gemäß §§ 8 bis 10 TMG sind wir jedoch verpflichtet
        als Diensteanbieter nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder
        nachzuforschen
        Umstände, die auf eine rechtswidrige Tätigkeit hindeuten. Verpflichtungen zur Entfernung oder Sperrung der
        Nutzung von Informationen gem
        allgemeine Gesetze bleiben unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt möglich
        welche Kenntnis von einer konkreten Rechtsverletzung bekannt ist. Sobald uns Rechtsverletzungen bekannt werden
        Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
    </div>

    <div class="line-height">
        <br><br><strong>Urheberrechte</strong><br><br>
        Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen der deutschen Sprache
        Urheberrechte ©. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb des
        Grenzen
        von
        Urheberrechte bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads u
        Kopien
        auf dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit zum Inhalt
        Das
        Soweit die Seite nicht vom Betreiber erstellt wurde, werden die Urheberrechte Dritter beachtet. Sei besonders
        Inhalt
        Von Dritten als solche gekennzeichnet. Sollten Sie dennoch auf eine Urheberrechtsverletzung aufmerksam werden,
        Anfrage
        uns um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte
        entfernen
        sofort entfernen.
    </div>

    <div class="line-height">
        <br><br><strong>Datenschutzerklärung</strong><br><br>
        Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. So weit oben
        unsere
        Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder E-Mail-Adressen) erhoben
        Das,
        soweit möglich, immer auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht
        weitergegeben
        an Dritte weitergegeben.
        Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail)
        kann Sicherheitslücken aufweisen. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht
        gegeben
        möglich
        möglich.
        Nutzung der im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übermittlung
        aus
        Nicht ausdrücklich angefordertes Werbe- und Informationsmaterial wird hiermit ausdrücklich ausgeschlossen
        beanstandet.
        Der
        Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung vor
        von
        Werbeinformationen wie Spam-Mails.
    </div>

    <div class="line-height">
        <br><br><strong>Google Analytics</strong><br><br>
        Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. („Google“). Google
        Analytik
        verwendet sog. „Cookies“, Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der
        Nutzungsdaten ermöglichen
        ermöglicht Ihnen die Nutzung der Website. Die durch den Cookie erzeugten Informationen über Ihre Benutzung
        Diese Website (einschließlich Ihrer IP-Adresse) wird an einen Server von Google in den USA übertragen und
        Dort
        Gerettet. Google wird diese Informationen benutzen, um Ihre Nutzung der Website für Berichte auszuwerten
        über
        um die Website-Aktivitäten für den Website-Betreiber zusammenzustellen und mit der Website-Nutzung
        weiterzuverfolgen
        Die
        zur Erbringung von Dienstleistungen im Zusammenhang mit der Internetnutzung. Auch Google wird diese
        Informationen verwenden
        Falls benötigt
        Weitergabe an Dritte, sofern dies gesetzlich vorgeschrieben ist oder soweit Dritte diese Daten im Auftrag
        verarbeiten
        Google
        Verfahren. Google wird in keinem Fall Ihre IP-Adresse mit anderen Daten von Google in Verbindung bringen.
        Sie
        Sie können die Installation der Cookies durch eine entsprechende Einstellung Ihrer Browser Software verhindern;
        Wir
        wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser
        Website vollumfänglich werden nutzen können
        Grundstück
        voll ausnutzen kann. Durch die Nutzung dieser Website stimmen Sie der Verarbeitung der
        über
        Sie
        Daten, die von Google auf die oben beschriebene Weise und zu den oben beschriebenen Zwecken erhoben werden
        einverstanden.
    </div>
    <div class="line-height">
        <br><br><strong>Weite infos</strong><br><br>
        Diese Webseite wurde von Fabian Flegler konzipiert und wird von ihm verwaltet. <br>
        E-Mail: <a href="mailto: fabianflegler@mail.de">fabianflegler@mail.de</a>
    </div>
</div>