<div class="managerin-Div">

    <h1>TikTok Agentur Managerin</h1>

    <div class="managerinZandra">
        <span>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam, voluptates necessitatibus nulla tempore eaque
            quos, suscipit odit repellat laborum sapiente veritatis! Harum, provident error. Quod beatae fugit ex
            doloremque nesciunt?
        </span>
        <img class="imgAgentur" src="assets/img/Zandra-Agentur.png">
    </div>

    <div class="managerinAgenturDiv2">

        <div class="margin-50">
            <h1>Vorteile einer Agentur</h1>
            <span>
                - Kostenlos. <br>
                - Bei einer unberechtigten Sperre, wird man schneller frei geben <br>
                - Ansprechperson bei offenen Fragen <br>
                - Belohnungen bei erreichen, bestimmter aufgaben <br>
                - Agentur Events von TikTok <br>
                - Big Matches von der Agntur oder TikTok <br>
                - Große Community mit der man sich austauschen kann
            </span>
        </div>

        <div class="margin-50">
            <h1>Nachteile einer Agentur</h1>
            <span>
                - Gibt an sich keine <br>
            </span>
        </div>

        <div class="margin-50">
            <h1>Voraussetzung für eine Agentur</h1>
            <span>
                - Live Zugang. <br>
                - Motivation zum Live gehen. <br>
                - 15-20 Stunden im Monat währen optimal. <br>
            </span>
        </div>

    </div>

</div>