<div class="managerin-Div">

    <h1>TikTok Agentur Managerin</h1>

    <div class="managerinZandra">
        <span>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam, voluptates necessitatibus nulla tempore eaque
            quos, suscipit odit repellat laborum sapiente veritatis! Harum, provident error. Quod beatae fugit ex
            doloremque nesciunt?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, ut dolorem, nobis non expedita eum
            repellendus quae nisi, earum debitis consequatur esse! Doloremque enim tenetur soluta consequuntur eligendi
            optio est. <br> <br>
            [
            für welche Agentur <br>
            was meine Aufgaben sind <br>
            das man sich bei mir für alle Informationen melden kann
            ]
        </span>
        <img class="imgAgentur" src="assets/img/Zandra-Agentur.png">
    </div>

    <div class="managerin-shadow2">
        <img src="/assets/img/Green shadow 2.png">
    </div>

</div>