.managerin-Div {
  position: relative;
  margin-top: 150px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Russo One", sans-serif;
}

h1 {
  position: relative;
  z-index: 2;
  font-size: 40px;
  font-weight: bold;
  transition: all 125ms ease-in-out;
  &:hover {
    text-shadow: 0 10px 10px #24ff24, 0 10px 20px #24ff24;
    transform: translate(0, -1rem);
  }
}

.margin-50 {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
  width: 500px;
  height: 350px;
  text-align: center;
  transition: all 125ms ease-in-out;

  &:hover {
    box-shadow: 0px 0px 10px 3px #24ff30;
  }

  h1 {
    margin: 25px;
    transition: all 125ms ease-in-out;
    &:hover {
      text-shadow: 0 10px 10px #24ff24, 0 10px 20px #24ff24;
      transform: translate(0, -1rem);
    }
  }

  span {
    font-size: 20px;
  }
}

.imgAgentur {
  object-fit: contain;
  height: 480px;
  border: 2px solid white;
  border-radius: 10px;
  transition: all 125ms ease-in-out;

  &:hover {
    box-shadow: 0px 0px 10px 3px #24ff30;
  }
}

.managerinZandra {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  margin-top: 50px;

  span {
    font-size: 20px;
    max-width: 650px;
    text-align: center;
    margin: 50px;
  }
}

.managerinAgenturDiv2 {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.managerin-shadow2 {
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 0;
}

@media (max-width: 510px) {
  h1 {
    font-size: 30px;
  }

  .managerinZandra {
    span {
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 50px;
      margin-top: 50px;
    }
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 25px;
    font-weight: bold;
  }

  .imgAgentur {
    height: 350px;
  }

  .managerin-shadow2 {
    img {
      width: 250px;
    }
  }

}