<div class="eventDiv">

    <div class="headerEventDiv">
        <div class="green-line-social"></div>
        <h1 class="headerH1"> Events </h1>
        <div class="green-line-social"></div>
    </div>

    <div class="underHeadlineEvent">
        <span>
            Auf dieser Seite, werde alle anstehenden Events angezeigt.
        </span>
    </div>

    <div class="NoEventsDiv d-none">
        <h1> Aktuell liegen keine Events an. </h1>
    </div>

    <div class="allEventsDiv">


        <div class="currentEvent">
            <div class="spanDiv">
                <span class="titel">Even: </span><span class="eingaben">Kopf an Kopf</span>
            </div>
            <div class="spanDiv">
                <span class="titel">Datum: </span><span class="eingaben">09.10.2023</span>
            </div>
            <div class="spanDiv">
                <span class="titel">Uhrzeit: </span><span class="eingaben">22:35 Uhr</span>
            </div>
            <div class="spanDiv">
                <span class="titel">Gegner: </span><span class="eingaben">@sunny_moonchild1.0</span>
            </div>
            <div class="spanDiv">
                <span class="registrierung">
                    <a href="https://www.tiktok.com/live/event/7286807482818068512?enter_from=share_link">
                        Hier kostenlos Registrieren</a>
                </span>
            </div>
            <div class="spanDiv">
                <img class="eventImg" src="assets/img/eventImg/AgenturTunier.png">
            </div>
        </div>
        

    </div>

    <div class="event-shadow">
        <img src="/assets/img/Green shadow 2.png">
    </div>
    <div class="event-shadow1">
        <img src="/assets/img/Green shadow 2 (1).png">
    </div>

</div>