<div class="eventDiv">

    <div class="headerEventDiv">
        <div class="green-line-social"></div>
        <h1 class="headerH1"> Events </h1>
        <div class="green-line-social"></div>
    </div>

    <div class="underHeadlineEvent">
        <span>
            Auf dieser Seite, werde alle anstehenden Events angezeigt.
        </span>
    </div>

    <div class="NoEventsDiv d-none">
        <h1> Aktuell liegen keine Event an. </h1>
    </div>

    <div class="agenturTunierTabele">
        <span class="win">Achtelfinale: Gewonnen</span>
        <span class="win">Viertelfinale: Gewonnen</span>
        <span>Halbfinale: (Austehend - 15.09.23 21 Uhr)</span>
        <span>Finale: (Austehend - Halbfinale)</span>
    </div>

    <div class="allEventsDiv">


        <div class="tunierEvent">
            <h2> TikTok Agentur Turnier </h2>
            <span>
                Halbfinale <br><br>
                Freitag 15.09.2023 <br><br>
                21:00 Uhr <br><br>
                Die_Zandra_ VS audi_kirk<br><br>
                <a class="tunierLink"
                    href="https://www.tiktok.com/live/event/7278402008166924320?enter_from=share_link">
                    Tragt euch gerne Kostenlos im Event ein
                </a>
            </span>
            <!-- <img src="assets/img/eventImg/"> -->
            <span>Bild Kommt noch!</span>
        </div>


    </div>

    <div class="event-shadow">
        <img src="/assets/img/Green shadow 2.png">
    </div>
    <div class="event-shadow1">
        <img src="/assets/img/Green shadow 2 (1).png">
    </div>

</div>