<div class="eventDiv">

    <div class="headerEventDiv">
        <div class="green-line-social"></div>
        <h1 class="headerH1"> Events </h1>
        <div class="green-line-social"></div>
    </div>

    <div class="underHeadlineEvent">
        <span>
            Auf dieser Seite, werde alle anstehenden Events angezeigt.
        </span>
    </div>

    <div class="NoEventsDiv">
        <h1> Aktuell liegen keine Events an. </h1>
    </div>

    <div class="allEventsDiv d-none">

    </div>

    <div class="event-shadow">
        <img src="/assets/img/Green shadow 2.png">
    </div>
    <div class="event-shadow1">
        <img src="/assets/img/Green shadow 2 (1).png">
    </div>

</div>