<div class="shop">
    <img (click)="openDialog()" class="shoppingcard" src="/assets/img/shoppingcard.png">
    <span class="shoppingcard-nr d-none">1</span>
    
    <div class="headline-shop">
        <div class="green-line-social"></div>
        <h1 class="shop-headline">Shop</h1>
        <div class="green-line-social"></div>
    </div>

    <div class="all-shop-div">

        <div *ngFor="let shop of shops; let i = index" class="shop-div">
            <h2 class="h2-name">{{shop.name}}</h2>
            <span class="shop-description">{{shop.description}}</span>

            <div class="img-Arrow">
                <img class="arrowLeft arrowImg" src="/assets/img/arrowLeft.png" (click)="prevImage(i)">
                <img class="shop-img" [src]="getImage(shop, currentImage[i])">
                <img class="arrowRight arrowImg" src="/assets/img/arrowRight.png" (click)="nextImage(i)">
            </div>

            <div class="shop-price-buy">
                <button class="btnSize" (click)="openNav()">Größe</button>
                <button (click)="openDialog()">Kaufen</button>
                <span>{{shop.price}}€</span>
            </div>

        </div>

    </div>
</div>

<div #mySidenav class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <a (click)="closeNav()">XS</a>
    <a (click)="closeNav()">S</a>
    <a (click)="closeNav()">M</a>
    <a (click)="closeNav()">L</a>
    <a (click)="closeNav()">XL</a>
    <a (click)="closeNav()">XXL</a>
    <a (click)="closeNav()">XXXL</a>
</div>