.shop {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    max-width: 100%;
}

.shoppingcard {
    object-fit: contain;
    height: 40px;
    position: absolute;
    top: 190px;
    right: 100px;
    border: 2px solid #24FF24;
    border-radius: 20%;
    padding: 10px;
    transition: all 125ms ease-in-out;

    &:hover {
        transform: scale(1.2);
        background-color: #24ff24;
        box-shadow: 0px 0px 10px 3px #24FF30;
        cursor: pointer;
    }
}

.shoppingcard-nr {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 250px;
    right: 88px;
    border-radius: 100%;
    background-color: red;
    height: 20px;
    width: 20px;
    font-size: 20px;
    font-weight: bold;
    padding: 2px;
}

.shop-headline {
    font-size: 80px;
    font-family: 'Russo One', sans-serif;
    transition: all 125ms ease-in-out;
    color: white;
    margin: 0;

    &:hover {
        text-shadow: 0 10px 10px #24FF24, 0 10px 20px #24FF24, ;
        transform: translate(0, -1rem);
    }
}

.all-shop-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.shop-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 500px;
    border-radius: 20px;
    border: 2px solid #24FF24;
    animation: shadow 4s linear infinite;
    margin: 40px;
}

.h2-name {
    font-size: 40px;
    font-family: 'Russo One', sans-serif;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    margin-bottom: 5px;
}

.shop-description {
    font-size: 15px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    margin-bottom: 20px;
}

.shop-img {
    object-fit: contain;
    height: 300px;
    width: 450px;
    border-radius: 20px;
}

.shop-price-buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin-top: 20px;

    span {
        color: white;
        font-size: 20px;
        font-weight: bold;
    }

    button {
        font-size: 20px;
        font-weight: bold;
        border-radius: 10px;
        background-color: green;
        height: 35px;
        width: 90px;
        outline: none;
        border: none;
        transition: all 125ms ease-in-out;

        &:hover {
            cursor: pointer;
            border: 2px solid green;
            box-shadow: 0px 0px 10px 3px #24FF30;
            transform: scale(1.2);
            background-color: #24FF24;
        }
    }
}

@keyframes shadow {
    0% {
        box-shadow: 0px 0px 10px 10px #24ff24
    }

    25% {
        box-shadow: 0px 0px 20px 10px #128d10;
    }

    50% {
        box-shadow: 0px 0px 10px 10px #24FF24;
    }

    100% {
        box-shadow: 0px 0px 20px 10px #128d10;
    }
}

.img-Arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.arrowLeft {
    position: absolute;
    top: 45%;
    left: 5px;
}

.arrowRight {
    position: absolute;
    top: 45%;
    right: 5px;
}

.arrowImg {
    object-fit: contain;
    height: 30px;
    border-radius: 100%;
    box-shadow: 0px 0px 10px 5px #24FF24;
    transition: all 125ms ease-in-out;

    &:hover {
        transform: scale(1.2);
        background-color: #24FF24;
    }
}



.btnSize {
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    background-color: green;
    height: 35px;
    width: 90px;
    outline: none;
    border: none;
    transition: all 125ms ease-in-out;

    &:hover {
        cursor: pointer;
        border: 2px solid green;
        box-shadow: 0px 0px 10px 3px #24FF30;
        transform: scale(1.2);
        background-color: #24FF24;
    }
}

.sidenav {
    height: 30%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 40%;
    left: -15px;
    background-color: green;
    box-shadow: 0px 0px 10px 3px #24FF30;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.sidenav a {
    cursor: pointer;
    padding: 8px 8px 8px 40px;
    text-decoration: none;
    font-size: 30px;
    color: #000000;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 50px;
}

.d-none {
    display: none;
}

.headline-shop {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 50px;
}

.green-line-social {
    height: 4px;
    width: 100px;
    background-color: #24ff24;

    &:first-child {
        margin-right: 20px;
    }

    &:last-child {
        margin-left: 20px;
    }
}