html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Russo One", sans-serif;
  overflow: overlay;
  background-color: black;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #20b600;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #20b600;
  border-radius: 5px;
}

.relative {
  position: relative;
}
