<div id="music" class="music-container">

    <div class="headline-music" data-aos="zoom-in-up">
        
        <div class="musicIconsDiv1">
            <img class="musicIcon1" src="assets/img/musicIcons/musicIconLeft1.png">
            <img class="musicIcon2" src="assets/img/musicIcons/musicIconLeft2.png">
        </div>

        <div class="green-line-social"></div>
        <h1>
            Musik Playlist
        </h1>
        <div class="green-line-social"></div>

        <div class="musicIconsDiv2">
            <img class="musicIcon1" src="assets/img/musicIcons/musicIconRight1.png">
            <img class="musicIcon2" src="assets/img/musicIcons/musicIconRight2.png">
        </div>

    </div>

    <span class="z-index" data-aos="zoom-in-up">
        Das ist die Spotify Playlist von Zandra. 
        <br>
        <br>
        Für gute Musik ist im Stream gesorgt.
    </span>

    <div class="spotify-container" data-aos="zoom-in-up">
        <iframe class="spotify" style="border-radius:12px"
            src="https://open.spotify.com/embed/playlist/1fGTE4iF7QkQY5PY0Jelyu?utm_source=generator&theme=0"
            width="100%" height="352" frameBorder="0" allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>

    <div class="music-shadow">
        <img src="/assets/img/Green shadow 2.png">
    </div>
    <div class="music-shadow1">
        <img src="/assets/img/Green shadow 2 (1).png">
    </div>

</div>